APP_NAME=Google AI Search2API
APP_HOST=127.0.0.1
APP_PORT=8000
APP_LOG_LEVEL=INFO
APP_DATA_DIR=data

DEFAULT_MODEL=google-search
API_TOKEN=

BROWSER_HEADLESS=true
BROWSER_USER_AGENT=
BROWSER_LOCALE=en-US
BROWSER_BASE_URL=https://www.google.com/search?udm=50&aep=11&hl=en
BROWSER_TIMEOUT_MS=90000
ANSWER_TIMEOUT_MS=45000
BROWSER_WORKERS=2
REQUEST_QUEUE_SIZE=8

BROWSER_PROXY_SERVER=
BROWSER_PROXY_USERNAME=
BROWSER_PROXY_PASSWORD=
BROWSER_PROXY_BYPASS=
